body {
  background-color: #dfc5cb;
  margin: 0;
}

html {
  height: fit-content;
}

#back {
  margin: 2rem;
  position: fixed;
  z-index: 1;
}

#back-to-home {
  background-color: transparent;
  border: none;
  font-family: "Inria Serif", serif;
  font-style: italic;
  color: #fff;
  font-size: 1.25rem;
}

#back-button {
  margin: 2rem;
  z-index: 1;
}

#back-to-gallery {
  background-color: transparent;
  border: none;
  font-family: "Inria Serif", serif;
  font-style: italic;
  color: #fff;
  font-size: 1.25rem;
}

#back-to-gallery:hover {
  color: #ab8383;
  transition: ease 0.3s;
}

#back-to-home:hover {
  color: #ab8383;
  transition: ease 0.3s;
}

.album-grid {
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.album-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: inherit;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  width: 50vw;
  height: 50vh;
}

.album-card:hover {
  transform: scale(1.03);
}

.album-card img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.album-card h3 {
  margin: 10px;
  padding: 10px;
  font-family: "Junge";
}


#gallery-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#gallery-header {
  width: 100%;
  height: 65vh;
  background-image: url('/home/gallery-assets/SPO10.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

#gallery-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

#gallery-header .header-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  font-size: 5rem;
  font-weight: bold;
  z-index: 2; 
  font-family: "Italiana", serif;
  letter-spacing: 7px;
}

.highlight {
  color: #E4ACAC;
}


.photo-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw;
  grid-template-rows: 15vw 15vw 15vw 15vw 15vw 15vw 15vw 15vw;
  gap: 10px;
  padding: 20px;
  margin-top: 5vw;
}

.item-1 {
  grid-row: span 3;
  grid-column: span 2;
}

.item-2 {
  grid-row: span 1;
  grid-column: span 2;
}

.item-3 {
  grid-row: span 2;
  grid-column: span 3;
}

.item-4 {
  grid-row: span 2;
  grid-column: span 4;
}

.item-5 {
  grid-row: span 3;
  grid-column: span 2;
}

.item-6 {
  grid-row: span 2;
  grid-column: span 3;
}

.photo-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.photo-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.photo-item:hover img {
  transform: scale(1.1);
}


.caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  visibility: hidden;
}

.photo-item:hover .caption {
  visibility: visible;
}


.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.lightbox-content {
  text-align: center;
  max-width: 90%;
  max-height: 80%;
}

.lightbox-img {
  max-width: 100%;
  max-height: 70%; 
}

.lightbox-caption {
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

.lightbox.active {
  display: flex;
}

@media (max-width: 768px) {
  
  #gallery-header {
    background-image: url('gallery-assets/SPO\ 10-mobile.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
