body {
  margin: 0;
  overscroll-behavior: none;
}

/* Home section */
#home {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Ensures it takes at least the full viewport height */
  background-image: url('/home/suor-photos/DSC07914\ copy.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column; /* Ensures content stacks properly */
}

.reveal {
  opacity: 0;
  transform: translateY(30px); /* Starts slightly lower */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.home-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 0; 
}

/* Logo */
.logo {
  max-height: 6vw;
  margin: 2vw;
  position: fixed;
  z-index: 1; 
}

.navbar-container {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  height: 50px; 
  background-color: #AA8D91;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: right 0.4s ease;
  z-index: 1000;
  margin-top: 3vw;
}

.navbar-container a {
  text-decoration: none;
  color: #EFD5D4;
  margin: 0 15px;
  font-size: 16px;
  padding: 5px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  font-family: Junge;
}

.navbar-container a:hover {
  color: #ffffff;
  transition: ease 0.3s;
}

/* Active link */
.navbar-container a.active {
  border-bottom: 2px solid #EFD5D4;
}

/* Menu button */
.menu-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #ab8383;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1001; 
  margin-top: 3vw;
  font-family: Junge;
  font-size: 2vw;
  letter-spacing: 3px;
}

.menu-button:hover {
  color: #E1D9D9;
  transition: ease 0.3s;
}

/* Content area */
#home-content {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; /* Keeps right-side centered */
  padding-bottom: 2rem;
  min-height: 100vh;
}

#left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Pushes content to the bottom */
  align-self: end; /* Moves only left-side to the bottom */
}

#right-side {
  display: flex;
  flex-direction: column; /* Ensures stacking inside right-side */
  align-items: center; /* Centers the content */
  justify-content: center;
  gap: 2rem; /* Adds spacing between elements */
  padding-top: 5rem;
}


#quote-container {
  height: fit-content;
  width: fit-content;
  background-color: rgba(59, 91, 67, 0.5);
  padding: 0.5rem;
  text-align: center;
  font-family: "Inria Serif", serif;
  line-height: 1.4;
  color: #E1D9D9;
  margin-right: 2rem;
}

#quote-container h3 {
  color:#EFD5D4;
}

#quote-container h5 {
  color:#EFD5D4;
}

a {
  color: inherit;
}

.name-highlight {
  color: #C3EFAE;
  font-size: 2rem;
  font-family: "Junge", serif;
}

#name-logo {
  height: 30vw;
}

/* Container styling */
.up-next-container {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Arial', sans-serif;
  height: auto;
  width: 25rem;
  margin: 0 auto;
}

.up-next-header {
  background-color: #886a6e; 
  padding: 10px 20px;
  margin-bottom: -10px;
  margin-left: 10px;
  z-index: 2;
  position: relative;
  font-family: "Inria Serif", serif;
  letter-spacing: 3px;
}

.next {
  color: #E5C7CB;
}

.up-next-header p {
  font-size: 2rem;
  font-style: italic;
  color: #E1D9D9;
  margin: 0;
}

.up-next-box {
  position: relative;
  background: rgba(0, 0, 0, 0.6); 
  color: white;
  padding: 20px;
  border: 1px solid #d8b9c3; 
  margin-top: -10px;
  width: 100%;
}

/* Decorative lines */
.decorative-lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.line {
  position: absolute;
  border: 1px solid #d8b9c3;
}

.line.top-left {
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-right: none;
  border-top: none;
  margin: 10px;
}

.line.bottom-right {
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-left: none;
  border-bottom: none;
  margin: 10px;
}

/* Content styling */
.up-next-content {
  text-align: center;
  font-family: "Inria Serif", serif;
  color: #E1D9D9;
}

.up-next-content p {
  margin: 10px 0;
}

.view-schedule {
  background-color: transparent;
  border: 1px solid #d8b9c3;
  color: #E1D9D9;
  padding: 5px 15px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 0.9rem;
  font-family: "Junge", serif;
  padding: 0.5rem;
  width: 60%;
}

.view-schedule:hover {
  background-color: #E1D9D9;
  color: #886a6e;
  transition: ease 0.3s;
}


/*bio*/

#bio {
  display: flex;
  justify-content: flex-end;
  background-image: url('/home/home-assets/bio.jpg');
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

#bio-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 80vh;
  width: 45%;
  background-color: rgba(59, 91, 67, 0.75);
  margin: 4rem;
  padding: 4rem;
  color: #E1D9D9;
}

#bio-header h1 {
  font-family: "Junge", serif;
  letter-spacing: 4px;
  font-size: 3rem;
}

#bio-blurb p {
  font-family: "Inria Serif", serif;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.highlight {
  font-family: "Inria Serif", serif;
  font-size: 2rem;
  color: #C3EFAE;
}

#view-bio {
  background-color: transparent;
  border: 1px solid #d8b9c3;
  color: #E1D9D9;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 5rem;
  padding-left: 5rem;
  margin-top: 15px;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: "Inria Serif", serif;
}

#view-bio:hover {
  background-color: #E1D9D9;
  color: #172410;
  transition: ease 0.3s;
}

/*Contact*/


#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  padding: 2rem;
  background-color: #EAD7DB;
}

/* Photo Container */
.photo-container {
  flex: 0.75; 
  position: relative;
  width: 50%; 
  height: 100vh; 
  overflow: hidden;
}

.photo-container img {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

/* Form Container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 400px;
  background-color: #9ea59f; 
  padding: 3rem;
  border-radius: 5px;
  position: relative;
  z-index: 2; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-left: -100px; 
}

/* Form Styling */
.form-container h1 {
  font-size: 2rem;
  color: #f4e4e8; 
  margin-bottom: 1.5rem;
  font-family: "Inria Serif", serif;
  letter-spacing: 3px;
}

.form-container h1 em {
  font-style: italic;
  color: #d7b1b8; 
}

.form-container input,
.form-container textarea,
.form-container button {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
   font-family: "Inria Serif", serif;
  font-size: 1rem;
  letter-spacing: 3px;
}

.form-container button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #E1D9D9;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.form-container button:hover {
  background-color: #172410;
  color: #fff;
  border: 1px solid #172410;
}


/*MOBILE*/

@media (max-width: 768px) {

  body {
  margin: 0;
  overscroll-behavior: none;
}

  /*home*/

  #home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #quote-container {
    width: 80%;
    margin: auto;
  }

  #left-side {
    display: flex;
    align-items: center;
    width: 100%;
  }

  #name img {
    width: 90vw;
    height: 30vh;
    margin-top: 2rem;
  }

  .menu-button {
    font-size: 1.5rem;
  }

  #logo  {
    margin: 2rem;
  }

  #bio-blurb p {
    font-size: 1rem;
  }

  .highlight {
    font-size: 1.5rem;
  }

  #view-bio {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .logo {
  display: none;
  }

  #contact {
    display: flex;
    flex-direction: column;
  }

  .photo-container {
    display: none;
  }

  .form-container {
    margin: auto;
  }

  .navbar-container {
    width: 100%;
  }

  .navbar-container a {
    font-size: 0.70rem;
  }

  #bio {
    background-image: url('home-assets/biomobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #home {
    background-image: url('suor-photos/home-mobile.JPG') !important;
    background-size: contain !important;       
    background-repeat: no-repeat !important;   
    background-position: center !important;
  }

  .up-next-container {
    width: 70vw;
    margin: auto;
    }

    .up-next-header  {
      margin: auto;
    }

}
