body {
  margin: 0;
}

/* Home section */
#home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('/home/home-assets/DSC_0442.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 0; 
}

/* Logo */
.logo {
  max-height: 6vw;
  margin: 3vw;
  position: fixed;
  z-index: 1; 
}

.navbar-container {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  height: 50px; 
  background-color: #AA8D91;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: right 0.4s ease;
  z-index: 1000;
  margin-top: 3vw;
}

.navbar-container a {
  text-decoration: none;
  color: #EFD5D4;
  margin: 0 15px;
  font-size: 16px;
  padding: 5px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  font-family: Junge;
}

/* Active link */
.navbar-container a.active {
  border-bottom: 2px solid #EFD5D4;
}

/* Menu button */
.menu-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #ab8383;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1001; 
  margin-top: 3vw;
  font-family: Junge;
  font-size: 2vw;
  letter-spacing: 3px;
}

/* Content area */
#home-content {
  max-height: 100vh;
  max-width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  z-index: 2; 
}

/* Left and right sides of content */
#left-side {
  display: flex; 
  align-items: flex-end; 
  margin-top: 30rem;
  margin-left: 4rem;
}

#quote-container {
  height: fit-content;
  width: 25rem;
  background-color: rgba(59, 91, 67, 0.5);
  padding: 1rem;
}

#quote-container h1 {
  color:#EFD5D4;
}

#quote-container h5 {
  color:#EFD5D4;
}

.name-highlight {
  color: #C3EFAE;
}

#right-side {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}

#name-logo {
  max-height: 23vw;
  margin-bottom: 0.5rem;
}

/* Container styling */
.up-next-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  font-family: 'Arial', sans-serif;
  height: 4rem;
  width: 25rem;
  margin: 0 auto;
}

.up-next-header {
  background-color: #d8b9c3; 
  padding: 10px 20px;
  margin-bottom: -10px;
  margin-left: 10px;
  z-index: 2;
  position: relative;
}

.up-next-header p {
  font-size: 1.2rem;
  font-style: italic;
  color: #7c6d7c; 
  margin: 0;
}

.up-next-box {
  position: relative;
  background: rgba(0, 0, 0, 0.6); 
  color: white;
  padding: 20px;
  border: 1px solid #d8b9c3; 
  margin-top: -10px;
  width: 100%;
}

/* Decorative lines */
.decorative-lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.line {
  position: absolute;
  border: 1px solid #d8b9c3;
}

.line.top-left {
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-right: none;
  border-top: none;
  margin: 10px;
}

.line.bottom-right {
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-left: none;
  border-bottom: none;
  margin: 10px;
}

/* Content styling */
.up-next-content {
  text-align: center;
}

.up-next-content p {
  margin: 10px 0;
}

.view-schedule {
  background-color: transparent;
  border: 1px solid #d8b9c3;
  color: white;
  padding: 5px 15px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 0.9rem;
}


/*bio*/

#bio {
  display: flex;
  justify-content: flex-end;
  background-image: url('/home/home-assets/bio.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

#bio-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 80vh;
  width: 45%;
  background-color: rgba(59, 91, 67, 0.75);
  margin: 4rem;
  padding: 4rem;
  color:#EFD5D4;
}

#bio-header h1 {
  font-family: "Junge", serif;
  letter-spacing: 4px;
  font-size: 3rem;
}

#bio-blurb p {
  font-family: "Inria Serif", serif;
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.highlight {
  font-family: "Inria Serif", serif;
  font-size: 1.75rem;
  color: #C3EFAE;
}

#view-bio {
  background-color: transparent;
  border: 1px solid #d8b9c3;
  color: white;
  padding: 5px 15px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 0.9rem;
}

/*Contact*/


#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  padding: 2rem;
  background-color: #EAD7DB;
}

/* Photo Container */
.photo-container {
  flex: 0.75; 
  position: relative;
  width: 50%; 
  height: 100vh; 
  overflow: hidden;
}

.photo-container img {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

/* Form Container */
.form-container {
  flex: 0 1 400px;
  background-color: #9ea59f; 
  padding: 2rem;
  border-radius: 5px;
  position: relative;
  z-index: 2; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-left: -100px; 
}

/* Form Styling */
.form-container h2 {
  font-size: 2rem;
  color: #f4e4e8; 
  margin-bottom: 1.5rem;
}

.form-container h2 em {
  font-style: italic;
  color: #d7b1b8; 
}

.form-container input,
.form-container textarea,
.form-container button {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.form-container button:hover {
  background-color: #333;
  color: #fff;
}
